/artillery_plot.pdf
/commander_plot.pdf
/df_allies_combat_table.pdf
/df_allies_defense_table.pdf
/df_allies_offense_table.pdf
/df_allies_support_table.pdf
/df_axis_combat_table.pdf
/df_axis_defense_table.pdf
/df_axis_offense_table.pdf
/df_axis_support_table.pdf
/infantry_plot.pdf
/sniper_plot.pdf
/stat-checker.ipynb
/tableDownload.csv
/tableDownload_vlk.csv
/table_allies_killers.pdf
/table_axis_killers.pdf
/table_weapon_usage.pdf
/tank_plot.pdf
/weapons_plot_allies.pdf
/weapons_plot_axis.pdf